body {
  background-color: #e9f0f4;
  color: #2e3641;
}

/*remove default button styles*/
button {
  border: none;
  background-color: transparent;
  outline: none;
}

.add-text-area {
  display: none;
}